@page {
    margin-top: 15px;
}

@page :first {
    margin-top: 0px;
}

@media print {
    .page-break-avoid,
    .job,
    .list-group,
    .contact-item {
        break-inside: avoid;
        page-break-inside: avoid; /* fallback для старых движков */
    }
}