body {
  font-family: Calibri, Arial, sans-serif;
  /* font-size: .95em; */
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  background: none;
}

a[href]:after {
  content: none !important;
}

.container {
  margin: 0;
  width: 100%;
}

@page {
  padding-top: 15px;
  padding-bottom: 15px;
}

#photo{
  display: none;
}

#photo-header{
  margin-top: 0;
}

.box {
  margin-bottom: -5px;
}

blockquote,
.box:has(> #awards),
.year,
.contact-item,
.publication,
.skills,
.interests {
  break-inside: avoid;
  page-break-inside: avoid;
}

.col-sm-5{
  width: 100%;
}

.col-sm-7{
  width: 100%;
}

#education {
  margin: 0;
}

.address {
  white-space: normal;
  word-break: break-all;
}

.skills > .col-sm-offset-1 {
  margin-left: 0;
}