body {
  font-family: Calibri, Arial, sans-serif;
  /* font-size: .95em; */
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
  background: none;
}

a[href]:after {
  content: none !important;
}

.container {
  margin: 0;
  width: 100%;
}

@page {
  padding-top: 15px;
  padding-bottom: 15px;
}

@page :first {
  padding-top: 0px;
}

#photo{
  display: none;
}

#photo-header{
  margin-top: 15px;
}

.box {
  margin-bottom: -5px;
}

blockquote,
#education,
#awards,
.contact-item,
.publication,
.skills,
.interests {
  break-inside: avoid;
  page-break-inside: avoid;
}

/* @media print {
    .page-break-avoid,
    .job,
    .list-group {
        break-inside: avoid;
        page-break-inside: avoid;
    }
} */

.col-sm-5{
  width: 100%;
}

.col-sm-7{
  width: 100%;
}

#education {
  margin: 0;
}

/* TODO: */

#awards .year{
  width: 25%;
}
#awards .description{
  width: 75%;
}

.publication,
.publication .panel-heading,
.publication .name{
  margin: 0;
  padding: 0 5px;
  border: none;
}
.publication .panel-body {
  padding: 0 10px;
  margin: 0;
}

.badge {
  margin: 0;
}

.list-group-item{
  border: none;
  margin: 0;
  padding: 5px 15px;
}
.list-group-item:after{
  content: '';
  position: absolute;
  top: 8px;
  right: 0;
  left: -1px;
  height: 0;
  width: 0;
  border: solid transparent;
  border-right-color: #999;
  border-width: 4px;
  pointer-events: none;
 }

.address {
  white-space: normal;
  word-break: break-all;
}